sphinx
sphinx-autobuild
sphinx_rtd_theme
#recommonmark==0.6.0
git+git://github.com/brentfollin/recommonmark.git@fix-inline-math # recommonmark
#git+git://github.com/chrisburr/recommonmark.git@patch-1 # recommonmark fix inline math
jieba
sphinx_markdown_tables
numpy
